[options]
font = Inconsolata 12
allow_bold = false

[colors]

# special
foreground      = #f5f0f6
foreground_bold = #f5f0f6
cursor          = #f5f0f6
# background      = #2b303b
background = #121315

# black
color0  = #929fa7
color8  = #929fa7

# red
color1  = #a2aeb1
color9  = #a2aeb1

# green
color2  = #bcbdc3
color10 = #bcbdc3

# yellow
color3  = #c9ceca
color11 = #c9ceca

# blue
color4  = #cfdcda
color12 = #cfdcda

# magenta
color5  = #787a86
color13 = #787a86

# cyan
color6  = #929d95
color14 = #929d95

# white
color7  = #9eb8b5
color15 = #9eb8b5

